* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(../img/bg.jpg);
}

@media (max-width: 1270px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap:nowrap;
    }
}

a {
    text-decoration: none;
}

.nav {
    width: 366px;
    height: 100%;
    background-color: rgb(243, 237, 213);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center
}

@media (max-width:1270px) {
    .nav {
        width: 100%;
        height: 100px;
        flex-direction: row;
    }
}

@media (max-width:720px) {
    .nav {
        position: relative;
        justify-content: flex-start;
        align-items: center;
    }
}

.logo {
    width: 200px;
    height: 200px;
    background-image: url(../img/logo-1.jpg);
    background-size: cover;
    background-position: center;
    margin: 100px 0;
    border-radius: 20px;
}

@media (max-width:1270px) {
    .logo {
        width: 80px;
        height: 80px;
        margin-left: 50px;
    }
}

@media (max-width:720px) {
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}

.logo:hover {
    transform: scale(1.2);
}

@media (max-width:720px) {
    .logo:hover {
        transform: translate(-50%, -50%) scale(0.9);
    }
}

.nav-btn-all {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media(max-width:1270px) {
    .nav-btn-all {
        margin-right: 50px;
        justify-content: flex-end;
        flex-grow: 3;
    }
}

@media (max-width:720px) {
    .nav-btn-all {
        display: none;
        width: 220px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        position: absolute;
        margin-top: 350px;
        margin-left: 30px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.nav-btn {
    width: 200px;
    height: 60px;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    text-align: center;
    line-height: 60px;
    background-color: rgb(175, 199, 125);
    color: rgb(255, 255, 255);
    border-radius: 40px;
    margin-bottom: 20px;
}

@media (max-width:1270px) {
    .nav-btn {
        width: 150px;
        height: 50px;
        font-size: 24px;
        line-height: 50px;
        margin: 0 10px;
    }
}

@media (max-width:720px) {
    .nav-btn {
        width: 200px;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
        margin: 10px;
    }
}

.nav-btn:hover {
    background-color: rgb(243, 248, 232);
    color: rgb(92, 115, 72);
}

.nav-btn:active {
    background-color: rgb(255, 255, 255);
    color: rgb(171, 122, 17);
}

.contener {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1270px) {
    .contener {
        width: calc(100% - 100px);
        height: calc(100% - 200px);
        flex-grow: 0;
        margin-top: 50px;
    }
}

@media (max-width:720px) {
    .contener {
        width: 100%;
        height: 100%;
        flex-grow: 1;
        margin-top: 0;
    }
}

.content {
    width: 955px;
    height: 570px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width:1400px) {
    .content {
        width: 800px;
        height: 570px;
    }
}

@media (max-width:1270px) {
    .content {
        width: 100%;
        height: 100%;
    }
}

.img {
    background-color: rgb(94, 133, 120);
    width: calc((100% - 10px * 2) / 3);
    height: 100%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

@media (max-width:1400px) {
    .img {
        height: calc(50% - 10px);
        margin-right: 0;
    }
}

@media (max-width:720px) {
    .img {
        width: 100%;
        height: calc(100% / 3);
        background-size: cover;
        background-position: center;
        border-radius: 0px;
    }
}

.img:hover {
    transform: scale(1.1);
}

@media (max-width:1270px) {
    .img:hover {
        transform: scale(0.9);
    }
}

.img-1 {
    background-image: url(../img/B43D7156-2159-4F8C-9E9B-C771A4CB66EA.jpg);
}

.img-2 {
    background-image: url(../img/4C2F450E-8EB9-4D2E-B811-746BF70B273D.jpg);
}

.img-3 {
    background-image: url(../img/IMG_4716.JPEG);
}

@media (max-width:1400px) {
    .img-1 {
        width: 100%;
    }

    .img-2 {
        width: calc(50% - 5px);
    }

    .img-3 {
        width: calc(50% - 5px);
    }
}

@media (max-width:720px) {
    .img-1 {
        width: 100%;
    }

    .img-2 {
        width: 100%;
    }

    .img-3 {
        width: 100%;
    }
}

.ham-btn {
    background-color: rgb(228, 190, 143);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-left: 30px;
    display: none;
    position: relative;
}

@media (max-width:720px) {
    .ham-btn {
        display: block;
    }

    .ham-btn .line {
        width: 80%;
        height: 5px;
        background-color: aliceblue;
        border-radius: 10px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        transition: 0.5s;
    }

    .ham-btn .line-1 {
        top: 25%;
    }

    .ham-btn .line-2 {
        top: 50%;
    }

    .ham-btn .line-3 {
        top: 75%;
    }

    #ham-switch:checked+.ham-btn .line-1 {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    #ham-switch:checked+.ham-btn .line-2 {
        display: none;
    }

    #ham-switch:checked~.nav-btn-all {
        display: flex;
    }

    #ham-switch:checked+.ham-btn .line-3 {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}